*{
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.garage{
    background-color: white;
}

.garage-header{
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
    backdrop-filter: blur(10px);
}

.garage-name{
    font-family: "Platypi", serif;
    color: #6B8E23;
}

.experty{
    background-color: #e2e8d6;
}

.media{
    border-radius: 2rem;
}

.media:hover{
    background-color: #e2e8d6;
}

.detail{
    width: 90%;
}

.form{
    width: 75%;
    border-radius: 2.5rem;
    border: 1px solid #DCDCDC;
    box-shadow: 1px 3px 10px 4px #e9e9e9;
    background-color: white;
    z-index: 0;
}

input::placeholder{
    font-size: 1rem;
}

.schedule-btn{
    width: 100%;
    background-color: #6B8E23;
    border: none;
    transition: 0.2s;
    color: white;
}

.schedule-btn:hover{
    transform: scale(1.05);
    background-color: #6B8E23;
}

.deliverables{
    background-color: white;
    border-radius: 2rem;
}
  