.service-header{
    font-family: 'Kalnia';
    background: linear-gradient(to right,#a4ce4f, #3a5601);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link{
    text-decoration: none;
}

.service{
    width: 160px;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 2rem;
    /* border: 1px solid white; */
}

.service:hover{
    background-image: radial-gradient(circle, white 20%, #dae3ca 90%);
    /* border: 1px solid #6B8E23; */
    box-shadow: 2px 2px 8px #bebebe;
}

.svc-name{
    margin-top: 1.1em;
    text-align: center;
    color: black;
}