.sidebar {
    width: 280px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: white;
  }

  .close{
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.3s;
  }

  .close:hover{
    background-color: #DCDCDC;
  }
  
  .nav-link:hover {
    transform: scale(1.05);
    background-color: #DCDCDC	;
    transition: 0.2s;
  }
  