.sidebar {
    width: 280px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    transition: 1s ease-in-out;
    background-color: #373737;
  }

  .close{
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.3s;
  }

  .icons{
    color: #FF6347;
  }

  .close:hover{
    background-color: #696969;
  }
  
  .nav-link {
    color: white;
    transition: 0.5s;
  }
  
  .nav-link:hover {
    transform: scale(1.05);
    background-color: #696969	;
  }
  