.signin{
    height: 100vh;
    overflow: hidden;
}

.prev{
    cursor: pointer;
}

.box{
    height: fit-content;
    border-radius: 2.5rem;
    border: none;
    background-color: white;
    box-shadow: 1px 5px 20px 8px #D3D3D3;
}

.signin-btn{
    width: 100%;
    background-color: #6B8E23;
    border: none;
    transition: 0.2s;
    color: white;
}

.signin-btn:hover{
    transform: scale(1.05);
    background-color: #6B8E23;
}

.signup-btn{
    width: 100%;
    background-color: #6B8E23;
    border: none;
    transition: 0.2s;
    color: white;
}

.signup-btn:hover{
    transform: scale(1.05);
    background-color: #6B8E23;
}

.frgt{
    color: #808080;
    text-decoration: none;
}

.frgt:hover{
    color: #696969;
    text-decoration: underline;
}