.garage-details{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
}

.name-star-experty{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.name-star{
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    column-gap: 0.5em;
}

.garage-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #663399;
}

.garage-star{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.3em;
}

.counted-star{
    display: flex;
    justify-content: center;
    align-items: center;
}

.counted-star .material-symbols-outlined{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 1.2em;
}

.counted-star-no{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    font-size: 1.5em;
    font-weight: 400;
}

.experience img{
    width: 50px;
    height: 50px;
}

.overview-section{
    margin: 1em;
    display: flex;
    justify-content: space-around;
}

.detailMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 40%;
}

.detailMe-location{
    margin: 1em;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.5em;
}

.detailMe-location .material-symbols-outlined{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 2em;
}

.detailMe-lable{
    padding: 0.2em;
    font-size: 1.2em;
    font-weight: 400;
}

.detailMe-call{
    margin: 1em;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.5em;
}

.detailMe-call .material-symbols-outlined{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 2em;
}

.detailMe-hours{
    margin: 1em;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    row-gap: 1em;
    width: 100%;
}

.day{
    padding: 0.5em;
    display: grid;
    grid-template-columns: 33% 33% auto;
    column-gap: 1em;
    width: 70%;
}

.current{
    border: 1px solid #764ec4;
    border-radius: 0.5em;
}

.detailMe-media{
    margin: 1em;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 3em;
}

.detailMe-media a{
    width: 30px;
    height: 30px;
    text-decoration: none;
}

.detailMe-media img{
    width: 100%;
    height: 100%;
}

.schedule-box{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-box form{
    margin-left: 5em;
    margin-right: 5em;
    padding: 2em;
    border: 1px solid gray;
    border-radius: 1.5em;
    display: grid;
    grid-template-rows: auto 3.5em 3.5em 3.5em 3.5em 3.5em;
    row-gap: 1em;
    width: 100%;
}

.fee{
    font-size: 1.4em;
    text-align: center;
    height: fit-content;
}

#sName{
    border-radius: 0.5em;
    border: 1px solid #C0C0C0;
    font-size: 1.2em;
    padding: 1.5em;
}

#sName:focus{
    outline: none;
}

#sName::placeholder{
    font-size: 0.8em;
}

#sCarDetail{
    border-radius: 0.5em;
    border: 1px solid #C0C0C0;
    font-size: 1.2em;
    padding: 1.5em;
}

#sCarDetail::placeholder{
    font-size: 0.8em;
}

#sCarDetail:focus{
    outline: none;
}

.select-day{
    border-radius: 0.5em;
    border: 1px solid #C0C0C0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.select-day:hover{
    background-color: #E6E6FA;
    border: 1px solid #E6E6FA;
}

.selector{
    padding: 1em;
    font-size: 1.2em;
    cursor: pointer;
}

.date{
    padding: 1em;
    font-size: 1.2em;
    cursor: pointer;
}

#sDescription{
    border-radius: 0.5em;
    border: 1px solid #C0C0C0;
    font-size: 1.2em;
    padding: 1.5em;
}

#sDescription::placeholder{
    font-size: 0.8em;
}

#sDescription{
    outline: none;
}

.schedule-box form button{
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to bottom right, #9370DB, #663399);
    border: 1px solid #764ec4;
    border-radius: 0.5em;
    z-index: 1;
    cursor: pointer;
}

.schedule-box form button::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #663399, #9370DB);
    z-index: -1;
    transition: opacity 0.7s linear;
    border-radius: 0.3em;
    opacity: 0;
}

.schedule-box form button:hover::before{
    border-radius: 0.5em;
    opacity: 1;
}

.service-section{
    margin: 1em;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 2em;
}

.deliverable-lable{
    padding-left: 0.5em;
    font-family: 'Kalnia';
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: center;
}

.service-section .material-symbols-outlined{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: #764ec4;
    font-size: 2em;
}

.deliverables-section{
    margin-bottom: 5em;
}

.deliverables{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.deliverable{
    display: grid;
    grid-template-columns: 10% 90%;
    color: black;
    width: 40%;
    margin: 1.2em;
}

.deliverables .name{
    padding: 0.2em;
    font-size: 1.5em;
}