.garage-header{
    background-color: white;
}

.icons{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.img{
    width: 30px;
    height: 30px;
}

.form{
    width: 70%;
    border-radius: 2rem;
}

.schedule-btn{
    width: 100%;
    background-color: #f0a52b;
    border: none;
}

.tick{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: #228B22;
}