.list-headline{
    font-family: 'Kalnia';
    background: linear-gradient(to right,#f59d0e, #df3d2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list{
    height: 300px;
}

.card{
    width: 300px;
    height: 100%;
    border: 1px solid gray;
    transition: 0.2s;
}

.card:hover{
    transform: scale(1.05);
}

.garage-name{
    color: #9370DB;
}

.location-icon,.mail > .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #F16051;
}
