.list-headline{
    font-family: 'Kalnia';
    background: linear-gradient(to right,#808080, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list{
    height: 300px;
}

.card{
    width: 350px;
    height: 100%;
    border: 1px solid gray;
    transition: 0.2s;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 3px 3px 7.5px 2.25px #DCDCDC;
}

.card-name{
    color: #696969;
}

.top-services-heading{
    font-weight: 700;
    font-size: 1.2rem;
}

.service-list{
    font-size: 1rem;
    font-weight: 400;
}
