.map-container{
    margin: 2em;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0.3em 0.3em 0.6em 0.2em rgb(206, 206, 206);
}

.map-container:hover{
    box-shadow: 0.3em 0.3em 0.9em 0.5em rgb(206, 206, 206);
}