*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}

.navbar{
    padding: 1em;
    column-gap: 0.5em;
    height: auto;
    background-image: linear-gradient(to bottom right, #FF8C00, #FF6347);
    border: 1px solid #FF8C00;
}

.nav-left{
    float: left;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    column-gap: 5px;
    height: fit-content;
}

.lable-1{
    font-family: 'Amarante';
    font-size: 2em;
    font-weight: bold;
    color: #FFEFD5;
}

.lable-2{
    font-family: 'Amarante';
    font-size: 3em;
    font-weight: bold;
    color: #FFEFD5;
}

.logo > .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #8B4513;
  font-size: 3em;
}

.nav-right{
    float: right;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    column-gap: 1em;
    height: 100%;
}

.msg{
    color: white;
    font-weight: 500;
}

.car{
    font-size: 3em;
}

.nav-btn{
    background-color: #FFEFD5;
    color: #FF4500;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
    border: 1px solid #FF4500;
    border-radius: 0.5em;
    cursor: pointer;
}

.setting > .material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
    font-size: 2em;
    color: #FFEFD5;
    cursor: pointer;
}