*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}

.navbar{
    padding: 1em;
    column-gap: 0.5em;
    height: auto;
    background-image: linear-gradient(to bottom right, #9370DB, #663399);
    border: 0px solid white;
}

.nav-left{
    float: left;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    column-gap: 5px;
    height: fit-content;
    text-shadow: 1px 1px 6px black;
}

.lable-1{
    font-family: 'Amarante';
    font-size: 2em;
    font-weight: bold;
    color: #FFA500;
}

.lable-2{
    font-family: 'Amarante';
    font-size: 3em;
    font-weight: bold;
    color: #FF4500;
}

.logo .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #C0C0C0;
  font-size: 3em;
  cursor: pointer;
  transition: transform 1s ease;
}

.logo .material-symbols-outlined:hover{
    transform: rotateY(-180deg);
    animation: revertAnimation 1s ease 1.5s forwards;
}

@keyframes revertAnimation {
    to {
      transform: scale(1);
    }
}

.nav-right{
    float: right;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    column-gap: 1em;
    height: 100%;
}

.msg{
    color: white;
    font-weight: 500;
}

.car{
    font-size: 3em;
}

.nav-btn{
    background-color: #e07b00;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
    border: 1px solid #e07b00;
    border-radius: 0.5em;
    cursor: pointer;
}

.nav-btn:hover{
    background-color: #F5F5F5;
    color: #e07b00;
    border: 1px solid white;
}

.setting .material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
    font-size: 2em;
    color: #FFEFD5;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.setting .material-symbols-outlined:hover{
    transform: rotate(-90deg);
}