.searchbar{
    width: 700px;
    height: 70px;
    border-radius: 1.5rem;
    transition: 0.2s;
    background-color: white;
    box-shadow: 2px 2px 5px #D3D3D3;
    z-index: 0;
}

.inputbox-div{
    height: 100%;
    width: 100%;
}

.inputbox{
    width: 100%;
    height: 100%;
    border: 1px solid #D3D3D3;
}

#search{
    border: none;
}

#search:focus{
    outline: none;
    box-shadow: none;
}

.search-btn-div{
    height: 100%;
    width: 100%;
}

.search-btn{
    height: 100%;
    width: 100%;
    border: none;
    font-weight: 400;
    transition: 0.2s;
    background-color: #C0C0C0;
}

.search-btn:hover{
    transform: scale(1.05);
    background-color: #A9A9A9;
}