.searchbar-container{
    margin-top: 1em;
    padding: 1em;
    display: grid;
    place-items: center;
}

.searchBar{
    padding: 0.3em;
    display: grid;
    grid-template-columns: 70% 25%;
    column-gap: 5%;
    width: 50vw;
    height: fit-content;
    border-radius: 5em;
    border: 1px solid rgb(213, 213, 213);
    box-shadow: 0.1em 0.1em 0.5em rgba(215, 215, 215, 0.9);
    background-color: white;
}

.input-box{
    width: 100%;
    border-radius: 1em;
    border: 1px solid white;
    padding: 0.5em;
    font-size: 1.2em;
    height: 100%;
}

.input-box::placeholder{
    font-size: 0.9em;
    color: #909497;
    font-weight: 100;
}

.input-box:focus{
    outline: none;
}

.search-btn {
    float: right;
    padding: 1em;
    border-radius: 5em;
    background-color: #FF8C00;
    border: 1px solid #e07b00;
    color: white;
    cursor: pointer;
    box-shadow: none;
    height: 100%;
}

.search-lable-div{
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    font-size: 1.2em;
}

.search-icon{
    font-weight: bold;
}

.search-lable-div > label{
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}