.searchBar{
    padding: 0.3em;
    column-gap: 0.2em;
    width: 60vw;
    height: fit-content;
    border-radius: 5em;
    border: 1px solid rgb(246, 246, 246);
    box-shadow: 0.3em 0.3em 0.4em 0.1em rgb(215, 215, 215);
}

.input-box{
    width: 40vw;
    border-radius: 1em;
    border: 1px solid white;
    padding: 1em;
    font-size: 1.2em;
    height: max-content;
}

.input-box::placeholder{
    font-size: 0.9em;
    color: #6c757d;
    font-weight: 100;
}

.input-box:focus{
    outline: none;
}

.search-btn {
    float: right;
    padding: 1em;
    border-radius: 5em;
    background-color: #dee2e6;
    border: 1px solid #6c757d;
    color: #6c757d;
    cursor: pointer;
    transition: max-width 1s;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    transform: scale(1);
}

.search-btn.hovered{
    max-width: 100%;
    background-color: #6c757d;
    color: #dee2e6;
}

.search-lable-div{
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    font-size: 1.2em;
}

.search-icon{
    font-weight: bold;
}