.lable-services{
    padding-left: 0.5em;
    font-family: 'Kalnia';
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: center;
}

.link{
    text-decoration: none;
}

.service{
    margin: 1em;
    padding: 1em;
    width: 160px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5em;
    background-color: white;
}

.service:hover{
    background-color: #F8F8FF;
    box-shadow: 0.2em 0.2em 1em #8f8f8f;
}

.svc-name{
    margin-top: 1.1em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: black;
}