.lable-services{
    padding-left: 0.5em;
    font-family: 'Kalnia';
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: center;
}

.service-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 5em;
    padding-right: 5em;
}

.service{
    margin: 1em;
    padding: 1em;
    width: 160px;
    height: fit-content;
    border: 1px solid #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5em;
    background-color: white;
}

.service:hover{
    box-shadow: 0.2em 0.2em 1em #C0C0C0;
}

.service img{
    width: 85%;
    height: 85%;
}

.service-name{
    margin-top: 1.1em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}