.lable-services{
    padding-left: 0.5em;
    font-family: 'Kalnia';
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: center;
}

.link{
    text-decoration: none;
}

.service{
    width: 160px;
    border-radius: 1.5em;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}

.service:hover{
    transform: scale(1.1);
    background-color: #FFF5EE;
}

.svc-name{
    margin-top: 1.1em;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: black;
}