.signin{
    height: 100vh;
    overflow: hidden;
}

.prev{
    color: #f44f3d;
    cursor: pointer;
}

.box{
    height: fit-content;
    border-radius: 2.5rem;
    border: none;
    box-shadow: 1px 5px 20px 8px #D3D3D3;
}

.signin-btn{
    width: 100%;
    background-color: #ffae4c;
    border: none;
    transition: 0.2s;
}

.signin-btn:hover{
    box-shadow: 3px 3px 10px #696969;
}

.signup-btn{
    width: 100%;
    background-color: #ffae4c;
    border: none;
    transition: 0.2s;
}

.signup-btn:hover{
    transform: scale(1.05);
    box-shadow: 3px 3px 10px #696969;
}

.frgt{
    color: #808080;
    text-decoration: none;
}

.frgt:hover{
    color: #4169E1;
    text-decoration: underline;
}